/* portfolio css */
.content-button {
    background-color: #fff;
    border: none;
    color: #000000;
}

.content-button:hover {
    background-color: #F74013;
    color: #fff;
}

/* portpolio image grid */
.gallery {
    display: flex;
    flex-wrap: wrap;
    margin-left: 100px;
    margin-right: auto; 
}
  
.portfolio-img {
    flex: 25%;
    max-width: 25%;
    padding: 0 4px;
}

.portfolio-img img {
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
}
  
/* for screen below or equal to 480px */
@media screen and (max-width: 480px) {

    .gallery {
        margin-left: auto;
    }

    .portfolio-img {
        flex: 100%;
        max-width: 100%;
    }
    
}
