body {
    background-color:whitesmoke;
    font-family: Arial,sans-serif;
    text-align: center;
}

h2 {
    margin: 10px;
    padding: 10px;
}

h5,
h6 {
    margin: 5px;
}

section {
    margin-top: 2%;
    background-color:whitesmoke;
}

img {
    padding: 10px;
    margin-top: 0;
}

* {
    box-sizing: border-box;
}

#bgimage {
    background-image:url(../assets/hero-bg.jpg);
    height: 400px;
    margin: 0;
    padding: 0;
    width: 100%;
}

.bgwhite {
    background-color: white;
}

li {
    list-style: none;
}

nav ul {
    background-color: #fff;
    display: flex;
    margin: 0;
    text-decoration: none;
}

nav li {
    color: gray;
    font-weight: lighter;
    list-style: none;
    margin: 4px 2px 2px;
    padding: 2px;
    text-align: center;
    text-decoration: none;   
}

#nav-menu {
    visibility: hidden;
}

#logo {
    float: left;
    color: gray; 
    margin: auto;
}


.dropdown-content {
    display: none;
    position: absolute;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  .dropdown-content a:hover {
      background-color: #f1f1f1;
    }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }

.primarybutton {
    background-color: #00f;
    border:0;
    border-radius:10px;
    color: #fff;
    display: inline;
    font-family: 'SegoeUI SemiBold';
    font-size: 16px;
    min-width: 110px;
    padding: 5px; 
    text-align: center;
}

button:hover {
    background-color: #55acee;
}

/*  */
.flex-container6 {
    align-content: flex-end;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 30px;
    }
    
.flex-container6 div {
    background-color: #fff;
    box-sizing: border-box;
    border-width: 5px;
    border-radius: 10px;
    color: darkseagreen;
    font-size: 20px;
    height: 240px;
    margin: 20px 0;
    text-align: center;
    width: 240px;
    }

.flex-container6 :hover {
    background-color: darkcyan;
    color: white;
    }

/*about us 2 column separation*/
.row {
    display: flex;
    flex-wrap: wrap;
    padding-bottom:30px;
}

.column {
    flex: 50%;
    padding: 10px;
    text-align: justify; 
}

#video-play {
    height: 360px;
    padding-left: 10%;
    width: 600px;
}

/*number of projects*/
.flex-count-container {
    background-color: honeydew;
    display:flex;
    flex-flow: wrap;
    font-size: xx-large;
    font-weight: bold;
    justify-content: space-around;
}

/* client logo*/
.flex-clientlogo-container2 {
    background-color: honeydew;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin:2px;
}

.flex-clientlogo-container2 img {
    font-size: 30px;
    line-height: 50px;
    margin: 10px;
    text-align: center;
    width: 100px;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
}



.bg-skyblue{
    background-color: rgb(205, 236, 248);
    color: gray;
    font-style: italic;
    margin-top: 0;    
}

/*action*/
.bgcyan {
    background-color: darkcyan;
    color: #fff;
    padding: 30px;
}
 

.teams-image img {
    padding: 0;
    max-width: 100%;
}

/*pricing*/
.flex-container5 {
    align-content: flex-end;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px 30px;
    }
    
.flex-container5 div {
    background-color: #fff;
    box-sizing: border-box;
    border-width: 5px;
    border-radius: 10px;
    color: darkseagreen;
    font-size: 20px;
    height: 400px;
    margin: 20px 0;
    text-align: center;
    width: 320px;
    }

.flex-container5 :hover {
    background-color: darkcyan;
    color: white;
    }

/*contact us*/
#google-img {
     height: 160px;
     width: 100%;
 }

input,
text {
    width: 45%;
    padding: 12px;
    border: 1px solid #ccc;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

/*hide content FAQ*/
#hide-content {
    width: 70%;
    padding: 2px;
}

.center {
    text-align: justify;
    padding-left: 22%;
}

.center div {
    background-color: white;
    margin-right:10%;
    margin-bottom: 1%;

}
/*action buttons*/
.action-btn {
    background-color:white;
    border-width: 2px;
    border-color: #00f;
    color: #00f;
    padding: 10px 20px;
}    
     /*about us 2 column separation*/
.footer-container{
    display: flex;
    flex-wrap: wrap;
    padding-bottom:30px;
    margin: 2px 10px;
}

.footer-items {
    flex: 25%;
    padding: 5px;
    text-align: justify; 
}


/*arrow sign*/ 
.arrow {
    align-content: center;
    border: solid blue;
    border-width: 0 2px 2px 0;
    display: inline-block;
    padding: 2px;
    margin: 3px;       
}

.arrow-right {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}    

.arrow-down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}

.arrow-up {
    transform: rotate(225deg);
    -webkit-transform: rotate(225deg);
}

.textblue {
    color: blue;
}
/*social media outer box */
.social-icon {
    background: #55acee;
    border-radius: 5px;
    color: white;
    font-size: 20px;
    margin: 5px 2px;
    padding: 4px 8px;
    text-align: center;
    text-decoration: none;
}

/* testimonial carousal*/
.carousel {
    margin: 30px;
    position: relative;
}

.carousel-open:checked + .carousel-item {
    opacity: 100;
    position: static;
}

.carousel-item {
    opacity: 0;
    position: absolute;
    transition: opacity 0.6s ease-out;
    -webkit-transition: opacity 0.6s ease-out;
}

/*for avatar*/
.avatar {
    border-radius: 50%;
    width: 180px;
}

.carousel-control {
    background: rgba(0, 0, 0, 0.28);
    border-radius: 50%;
    color: black;
    cursor: pointer;
    display: none;
    font-size: 40px;
    height: 40px;
    line-height: 35px;
    position: absolute;
    top: 50%;
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);
    text-align: center;
    -webkit-transform: translate(0, -50%);
    width: 40px;
    z-index: 10;
}

.carousel-prev {
    left: 3%;
}

.carousel-next {
    right: 3%;
}

#carousel-1:checked ~ .control-1,
#carousel-2:checked ~ .control-2 {
    display: block;
}

.carousel-indicators {
    bottom: 2%;
    left: 0;
    list-style: none;
    margin: 0;
    padding: 0;
    position: absolute;
    right: 0;
    text-align: center;
    z-index: 10;
}

.carousel-indicators li {
    display: inline-block;
    margin: 0 5px;
}

.carousel-bullet {
    color: #428bca;
    cursor: pointer;
    display: block;
    font-size: 35px;
}

.carousel-bullet:hover {
    color: #aaaaaa;
}

/*top-arrow btn for go bottom to up */
#top-btn {
    background-color: cornflowerblue;
    border: none;
    border-radius: 4px;
    bottom: 10px;
    color: white;
    cursor: pointer;
    font-size: 18px;
    padding: 10px;
    position: fixed;
    outline: none;
    right: 20px;
    z-index: 99;
    
}

#top-btn:hover {
    background-color: red;
}




/* styles for browsers minimum than 960px; */
@media only screen and (max-width: 960px) {
    
    nav li {
        margin: 2px; 
    }

    #bgimage {
        align-self: center;
        height: 70%;
        position: relative;
        width: 100%;
    }
}

/* styles for browsers smaller than 720px;*/
@media screen and (max-width: 720px) {
    
    body {
        margin-top: 2px;
        flex-wrap: wrap;
        height: 100%;
        width: 100%;
        padding: 4px;
     }
     
     #logo {
         display: block;
         padding: 2px;
         visibility: visible;
     }
     #nav-menu {
        display: block;
        float: right;
        margin-right: 20px;
        visibility: visible;
    }

     nav ul {       
        height: 0;
        margin: 0; 
        visibility: hidden;   
    }
    
    nav li {
        margin: 1px;
    }
     
     #bgimage {
        align-self: center;
        top:0;
        height: 60%;
        position: relative;
        width: 720px;
     }

     #video-play{ 
        height:240px;          
        padding: 0;
        margin: 0;
        width: 360px;
    }
}

/* styles for browsers larger than 480px; */
@media screen and (max-width: 480px) {
   
    nav ul {
        flex-wrap: wrap;
        width: 460px;
        margin: 2px;
    }

    nav li{
        margin: 2px;
        width: 460px;
        flex-wrap: wrap;
    }
   
    #bgimage {
       align-self: center;
       height: 30%;
       position: relative;
       top:20px;
       width: 480px;
    }
}
