
body {
    text-align: center;
}
img {
    padding: 10px;
}

.bgimage {
    background-image:url(../assets/hero-bg.jpg);
    margin: 0;
    padding: 1px;
}

nav ul {
    background-color: #fff;
    display: flex;
    margin: 0px -10px;
    text-decoration: none;
}

nav li {
    color: gray;
    font-weight: lighter;
    list-style: none;
    margin: 5px 10px;
    text-decoration: none;
    
}

.push-left {
    color: gray; 
    margin: auto;
}

.primarybutton {
    background-color: #00f;
    border:0;
    border-radius:10px;
    color: #fff;
    display: inline-block;
    font-family: 'SegoeUI SemiBold';
    font-size: 16px;
    margin-right: 10px;
    min-width: 110px;
    padding: 6px 10px; 
    text-align: center;
}

/*  */
.flex-container4 {
align-content: flex-end;
display: flex;
flex-wrap: wrap;
justify-content: space-around;
padding-top: 100px;
}

.flex-container4 div {
background-color: #fff;
font-size: 20px;
height: 200px;
text-align: center;
width: 175px;
}

/*number of projects*/
.flex-container {
    background-color: honeydew;
    display:flex;
    flex-flow: wrap;
    font-size: xx-large;
    font-weight: bold;
    justify-content: space-around;
}

.flex-container1 {
    background-color: honeydew;
    display:flex;
    flex-flow:wrap;   
}

/* client logo*/
.flex-container2 {
    background-color: honeydew;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.flex-container2 img {
    font-size: 30px;
    line-height: 50px;
    margin: 10px;
    text-align: center;
    width: 100px;
}
/*for services*/


/*
.navbar {
    background-color: burlywood;
    color:cornsilk;
    font-size: 16px;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    
}
*/

/*action*/
.bgblue {
    background-color: darkcyan;
    color: #fff;
    padding: 30px;
}
 
.teams {
    border: #fff;
    border-width: 10px;   
    display: flex;
    flex-wrap: wrap;
 }

.teams-card {
    display: flex;
    flex-grow: 1;
    flex-basis: 16%;
    margin: 5px 10px;
    padding: 5%;     
}

.teams-image img {
    max-width: 90%;
}

.teams-info {
    background-color: #fff;  
}


@media (max-width:920px){

    .teams-card{
        flex: 1 21%;
    }
}
