@import url('./navbar.css');
@import url('./portfolio.css');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,400;0,600;1,600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Vollkorn:ital@0;1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abhaya+Libre&family=Castoro&family=Vollkorn:ital@0;1&display=swap');

body {
  background-color: rgb(245, 245, 245);
  font-family: 'Vollkorn', Helvetica, sans-serif;
  margin: 0 16px;
  text-align: center;
}

#background-image {
  background-image: url(../assets/hero-bg.jpg);
  height: 460px;
  margin: 0;
  padding: 0;
  top: 0;
  width: 100%;
}

/* styles for background image & body, minimum than or equal 1080px; */
@media only screen and (max-width: 1080px) {
  
  body {
    flex-wrap: wrap;
    height: 100%;
    margin-top: 2px;
    padding: 4px;
    width: 100%;
  }

  #background-image {
    align-self: center;
    height: 70%;
    width: 100%;
  }

}

.background-white {
  background-color: rgb(255, 255, 255);
}

h2 {
  margin-top:2%;
  padding: 20px;
}

h5 {
  color: #000;
  margin: 5px;
}

h6 {
  color: #000;
  font-weight: lighter;
  margin: 5px;
}

i {
  margin-right: 6px;
  margin-left: 8px;
}

img {
  margin-top: 0;
}

li {
  list-style: none;
}

p {
  display: block;
  font-size: 16px;
  margin-left: 4px;
  padding-left: 2px;
}

p i {
  display: inline;
}

section {
  background-color: rgb(245, 245, 245);
  padding: 2%;
}

* {
  box-sizing: border-box;
}

/* action buttons */
.action-btn {
  background-color: #fff;
  border-color: #00f;
  border-radius: 4px;
  border-width: 2px;
  color: #00f;
  padding: 10px 20px;
}



.primarybutton {
  background-color: #00f;
  border: 0;
  border-radius: 4px;
  color: #fff;
  display: inline;
  font-family: 'SegoeUI SemiBold';
  font-size: 16px;
  padding: 5px; 
  text-align: center;
}

button:hover {
  background-color: #55acee;
}

/* start & services section */
.flex-container {
  align-content: flex-end;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding: 30px;
}
  
.flex-container div {
  background-color: #fff;
  border-radius: 10px;
  border-width: 5px;
  box-sizing: border-box;
  font-size: 20px;
  height: 240px;
  margin: 20px 0;
  padding-top: 40px;
  width: 200px;
}

.flex-container :hover {
  background-color: rgb(0, 139, 139);
  color: #fff;
}

.align-left {
  margin-left: 50px;
  padding-left: 10px;
  text-align: left;    
}

/* about us 2 column separation */
.row-flex {
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 30px;
}

.column-flex {
  flex: 50%;
  font-family: Arial, sans-serif;
  padding: 10px;
  text-align: justify; 
}
 
.frame {
   position: relative; 
}

.frame img {
   display: block; 
}
 
.frame .fa-play-circle {
  bottom:30%;
  position: absolute;
  left:30%; 
}
 
#video-play {
  height: 360px;
  padding-left: 10%;
  width: 600px;
}

/* styles for video-play in browsers of ipad (smaller than or equal 720px) */
@media screen and (max-width: 720px) {
        
  #video-play { 
    height: 240px;          
    margin: 0;
    padding: 0;
    width: 360px;
  }
  
}

/* number of client,projects,awards section container */
.flex-count-container {
  background-color: rgb(240, 255, 240);
  display: flex;
  flex-flow: wrap;
  font-family: 'Abhaya Libre', serif;
  font-weight: bold;
  justify-content: space-around;
}

.largerfont {
  display: block;
  font-size: xx-large;
  padding: 4px;
}

/* client logo */
.flex-clientlogo-container {
  background-color: rgb(240, 255, 240);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.flex-clientlogo-container img {
  filter: grayscale(100%);
  font-size: 30px;
  line-height: 50px;
  text-align: center;
  width: 100px;
}

/* for screen below or equal to 620px */
@media screen and (max-width: 620px) {

  .flex-clientlogo-container {
    flex:auto;
  }
  
}

.quote {
  background-color: rgb(205, 236, 248);
  color: #000;
  font-family: 'Source Sans Pro', sans-serif;
  margin: 0; 
  margin-bottom: 3%;   
}

/* for action section */
.background-cyan {
  background-color: rgb(0, 139, 139);
  color: #fff;
  padding: .8%;
}
 
/* for team section */
.teams-image img {
  max-width: 100%;
  padding: 0;
}

/* pricing services footer background*/
.pricing,
.services,
.footer {
  background-color:  rgba(248, 253, 255, 0.658);
  font-family: 'Abhaya Libre', serif;
  padding-top: 2%;
}

.pricing h5 {
  padding-top: 5%;
}

.flex-container1 {
  align-content: flex-end;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 20px 30px;
}
  
.flex-container1 div {
  background-color: #fff;
  border-radius: 10px;
  border-width: 5px;
  box-sizing: border-box;
  color: rgb(143, 188, 143);
  font-size: 20px;
  height: 400px;
  margin: 20px 0;
  text-align: center;
  width: 320px;   
}

.flex-container1 :hover {
  background-color: rgb(0, 139, 139);
  color: #fff;
}

/* testimonial carousal */
.carousel {
  margin: 30px;
  position: relative;
}

.carousel-open:checked + .carousel-item {
  opacity: 1;
  position: static;
}

.carousel-item {
  opacity: 0;
  position: absolute;
  transition: opacity 0.6s ease-out;
}

/* for avatar */
.avatar {
  border-radius: 50%;
  width: 180px;
}

.carousel-control {
  background: rgba(0, 0, 0, 0.28);
  border-radius: 50%;
  color: #000;
  cursor: pointer;
  display: none;
  font-size: 40px;
  height: 40px;
  line-height: 35px;
  position: absolute;
  text-align: center;
  top: 50%;
  transform: translate(0, -50%);
  width: 40px;
  z-index: 10;
}

.carousel-next {
  right: 3%;
}

.carousel-prev {
  left: 3%;
}

#carousel-1:checked ~ .control-1,
#carousel-2:checked ~ .control-2 {
  display: block;
}

@media only screen and  (max-width: 720px) {
 
  label {
    visibility: hidden;
  }
  
}

/* contact us */
.contact {
  margin: 10% 16%;
}

@media only screen and (min-width:480px) and (max-width: 720px) {
 
  .contact {
    margin: auto;
  }

}

.contact-info {
  color: #00f;
  display: block;
  font-size: 14px;
  padding: 2px 30px;
}

#google-img {
  height: 160px;
  width: 100%;
}

/* user input field */
input,
text {
  border: 1px solid #ccc;
  margin-bottom: 16px;
  margin-top: 6px;
  padding: 12px;
  resize: vertical;
  width: 45%;
}

/* align questions of faq section */
.faq-accordion {
  background-color: #fff;
  border: none;
  color: #444;
  cursor: pointer;
  font-size: 15px;
  outline: none;
  padding: 18px;
  text-align: left;
  transition: 0.4s;
  width: 80%;
}
  
.faq-accordion:after {
  color: #00f;
  content: '+';
  float: right;
  font-weight: bold;
  margin-left: 5px;
}

.faq-active:after {
  content: "-";
}

.faq-panel {
  background-color: #fff;
  max-height: 0;
  max-width: 80%;
  overflow: hidden;
  padding: 0 18px;
  transition: max-height 0.2s ease-out;
}

.faq-questions {
  padding-left: 22%;
  text-align: justify;
}

.faq-questions div {
  background-color: #fff;
  margin-bottom: 1%;
  margin-right: 10%;
}
  
/* footer column separation */
.footer-container {
  background-color:  rgba(248, 253, 255, 0.658);
  display: flex;
  font-size: small;  
  flex-wrap: wrap;
  margin: 2% 8%;
  padding-bottom: 30px;
}

/*footer for screen resolution where screen width is between 480px-720px*/
@media only screen and (min-width:480px) and (max-width: 720px) {
 
  .footer-container {
    font-family: 'Vollkorn', serif;
    margin: auto;
  }

}

.footer-items {
  display: block;
  flex: 25%;
  font-family: 'Abhaya Libre', serif;
  font-weight: lighter;
  padding: 5px;
  text-align: justify; 
}

.footer-items li {
  display: inline-flexbox;
  padding-bottom: 10%;
}

.footer-logo {
  font-size: medium;
  padding-left: 2%;
}

.footer-address p{
  font-size: small;
  margin-right: 33%;
  text-align: left;
}

.footer-sociallogo {
  flex-wrap: nowrap;
  text-align: end;
}

/* arrow sign (>) */ 
.arrow {
  align-content: center;
  border: solid rgb(0, 0, 255);
  border-width: 0 1px 1px 0;
  display: inline-block;
  margin: 3px;  
  padding: 1px;     
}

.arrow-right {
    transform: rotate(-45deg);
}    

.arrow-down {
  transform: rotate(45deg);
}

.arrow-up {
  transform: rotate(225deg);
}

/* social media outer box */
.social-icon {
  background: #55acee;
  border-radius: 5px;
  color: #fff;
  font-size: 20px;
  margin: 5px 2px;
  padding: 4px 8px;
  text-align: center;
  text-decoration: none;
}

/* top-arrow btn for go bottom to up */
#top-btn {
  background-color: rgb(100, 149, 237);
  border: none;
  border-radius: 4px;
  bottom: 10px;
  color: #fff;
  cursor: pointer;
  font-size: 18px;
  outline: none;
  padding: 10px;
  position: fixed;
  right: 4%;
  z-index: 99;
}

#top-btn:hover {
  background-color: #ff000f;
}
