@import "https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,400;0,600;1,600&display=swap";
@import "https://fonts.googleapis.com/css2?family=Roboto&display=swap";

$black-color: #000;
$fadecolor: #f8fbfe;
$blue-color: #2487ce;
$white-color: #fff;

body {
	color: #9d9898;
	font-family: 'Roboto', sans-serif;
	text-align: center;	
}

#background-image {
	background: linear-gradient( #fffbfb, rgba(255, 251, 251, 0.74) ), url(../assets/hero-bg.jpg);
	height: 460px;
	margin: 0;
	top: 0;
	width: 100%;
}

.background-white {
	background: $white-color;
}

h1 {
	color: #124265;
}

h2 {
	color:  #1a456f;
	margin-top: 4%;
}

h3 {
	color: #124265;
	font-weight: lighter;
}

h5 {
	color: #365e7c;
	margin: 5px;
}

h6 {
	color: #9d9898;
	font-weight: lighter;
	margin: 5px;
}

i {
	margin-left: 8px;
	margin-right: 6px;
}

img {
	margin-top: 0;
}

ul {  
	list-style:none; 
	text-indent:-22px; 
}

p {
	font-size: 16px;
	margin-left: 4px;
	padding-left: 2px;
	
	i {
		display: inline;
		margin-left: 0;
	}
}

section {
	background: $fadecolor;
	padding: 2%;
	text-align: center;
}

* {
	box-sizing: border-box;
}

#active {
	background: #2487ce;
	color: $white-color;

	h5 {
		color: $white-color;
		font-weight: lighter;
	}

	sup{
		color: $white-color;
	}

	strong {
		color: $white-color;
	}

	p {
		color:$white-color;

		s {
		  color: $white-color;
		}
	}

	.action-call {
		border-color: $white-color;
	}
}

/* navbar section */
.navbar {
	background: $white-color;
	height: auto;
	width: 100%;
	
	a {
		color: #556270;
		display: none;
		font-size: 10px;
		font-weight: lighter;
		padding: 2px;
		text-decoration: none;
		
		&:hover {
			color: $blue-color;
		}
	}

	.active {
		color: $blue-color;
	}
	
	.menu-bar {
		display: block;
		float: right;
		font-size: 12px;
		padding-top: 5px;
	}

	.nav-header {
		display: inline;
		padding-right: 20px;
		text-align: left;

		.nav-title {
			color: #9ab3c6;
			display: inline;
			font-size: 14px;
			font-weight: lighter;
			margin: auto;
			padding: 5px 10px;
		}
	}
	
	.button {
		background: $blue-color;
		border: none;
		border-radius: 2.5px;
		color: $white-color;
		cursor: pointer;
		display: none;
		float: right;
		font-size: 10px;
		font-weight: 500;
		padding: 5px;
		position: absolute;

		&:hover {
			color: $black-color;
		}
	}
}

/* navbar dropdown */
.dropdown-content {
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
	display: none;
	margin-left: 2%;
	min-width: 100px;
	padding-top: .5%;
	position: static;
	z-index: 1;

	a {
		color: $black-color;
		text-align: right;
		text-decoration: none;

		&:hover {
			background: #f1f1f1;
		}
	}
}

.dropdown {
	&:hover {
		.dropdown-content {
			display: block;
		}
	}
}

.navbar.responsive {
	position: relative;

	.menu-bar {
		position: absolute;
		right: 0;
		top: 0;
	}

	a {
		display: block;
		right: 41%;
		text-align: center;
		top: 90%;
	}
}

/* action buttons */
.action-btn {
	background: $white-color;
	border-color: #1188dd;
	border-radius: 4px;
	border-width: 2px;
	color: $blue-color;
	padding: 12px 20px;
}

.action-call {
	background: #2487ce;
	border:2px solid $white-color;
	border-radius: 4px;
	color: $white-color;
	padding: 12px 20px;
}

.primarybutton {
	background: $blue-color;
	border: 0;
	border-radius: 2.5px;
	color: $white-color;
	display: inline;
	font-size: 16px;
	padding: 12px 20px;
	text-align: center;
}

.send-btn {
	background: $blue-color;
	border: 0;
	color: $white-color;
	margin-left: 40%;
	margin-top: 4%;
	padding: 12px 20px;
}

/* start section */
.flex-container {
	align-content: flex;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	padding: 30px;

	div {
		background: $white-color;
		border-radius: 10px;
		border-width: 5px;
		box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
		box-sizing: border-box;
		font-size: 20px;
		height: 220px;
		margin: 20px;
		padding-top: 40px;
		width: 200px;
	}

	.flex-icon { 
		color: #3b94d3;
	}
}

.align-left {
	margin-left: 50px;
	padding-left: 10px;
	padding-right: 25px;
	text-align: left;
}

.material-icons { 
	color: #72deecd2;
	display: inline;
	font-size: 24px;
	vertical-align: middle;
}

/* about us 2 column separation */
.row-flex {
	column-gap: 30px;
	display: flex;
	flex-wrap: wrap;
	padding-bottom: 30px;
	padding-top: 30px;
}

.column-flex {
	display: block;
	flex: 45%;
	margin: 0;
	text-align: justify;

	p {
		color: #535052;
	}

	ul {
		color: #615b5e;
	}

}

.frame {
	position: relative;

	img {
		display: block;
	}

	.fa-play-circle {
		bottom: 30%;
		position: absolute;
		left: 30%;
	}
}

#video-play {
	height: auto;
	margin-left: auto;
	margin-right: auto;
	margin-top: 2%;
	width: 600px;
}

/* number of client,projects, awards section container */
.flex-count-container {
	background: #f8fbfe;
	color: #124265;
	display: flex;
	flex-flow: wrap;
	font-weight: bold;
	justify-content: space-around;
	padding: 0;
}

.countnumber {
	display: block;
	font-size: xx-large;
	padding: 4px;
}

/* client logo */
.flex-clientlogo-container {
	background: #f8fbfe;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
	padding: 1.5%;

	img {
		filter: grayscale(100%);
		font-size: 30px;
		line-height: 50px;
		text-align: center;
		width: 100px;
	}
}

.sec-action {
	background: #2487ce;
	color: $white-color;
	padding-bottom: 4%;

	h2 {
		color: $white-color;
	}
}

/* portfolio */
.btn {
	background: #fff;
  border: none;
	cursor: pointer;	
	outline: none;
	padding: 12px 30px;
	text-decoration: none;

	&:hover {
		color: rgb(209, 193, 193);
	}
}

.beactive {
	color: #55acee;
}

/* portpolio image grid */
.gallery {
	display: flex;
	flex-wrap: wrap;
}

.port-img {
	display: none;
	padding: 2%;
}

.portfolio-img {
	flex: 33.33%;
	max-height: 33.33%;
	max-width: 33.33%;
	padding: 1%;
	
	img {
		margin-top: 8px;
		max-height: 70%;
		max-width: 100%;
		vertical-align: middle;
	}
}

/* The "show" class is added to the filtered images */
.show {
	display: block;
}

/* for team section */
.teams-image {
	img {
		max-width: 100%;
		padding: 0;
	}
}

/* pricing-section */
.pricing {
	background: #f8fdffa8;
	padding-top: 2%;

	h5 {
		padding-top: 5%;
	}
}

.buy {
	background: #2487ce;
	color: #fff;
}

/* services */
.services {
	background: #f8fdffa8;
	padding-top: 2%;
}

/* background */
.footer {
	background: $fadecolor;
}

.sub-footer {
	background: $white-color;
	padding-top: 4%;
}

/* people quote section */

.quote-container {
	align-content: flex-end;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;

	div {
		background: $white-color;
		border-radius: 10px;
		border-width: 5px;
		box-sizing: border-box;
		color: rgb(143, 188, 143);
		font-size: 20px;
		height: 400px;
		margin: 20px 0;
		text-align: center;
		width: 320px;
  }
}

.quote {
	background: #f3f9fd;
	color: $black-color;
	margin: 0;
	margin-bottom: 3%;
	padding: 4px 20px;
}


/* testimonial carousal */
.carousel {
	margin: 30px;
	position: relative;
}

.carousel-open {
	&:checked {
		+ {
			.carousel-item {
				opacity: 1;
				position: static;
			}
		}
	}
}

.carousel-item {
	opacity: 0;
	position: absolute;
	transition: opacity 0.6s ease-out;
}

/* for avatar */
.avatar {
	border-radius: 50%;
	width: 150px;
}

.carousel-control {
	background: rgba(0, 0, 0, 0.28);
	border-radius: 50%;
	color: $black-color;
	cursor: pointer;
	display: none;
	font-size: 40px;
	height: 40px;
	line-height: 35px;
	position: absolute;
	text-align: center;
	top: 50%;
	transform: translate(0, -50%);
	width: 40px;
	z-index: 10;
}

.carousel-next {
	right: 1%;
}

.carousel-prev {
	left: 1%;
}

#carousel-1 {
	&:checked {
		~ {
			.control-1 {
				display: inline-block;
			}
		}
	}
}

#carousel-2 {
	&:checked {
		~ {
			.control-2 {
				display: block;
			}
		}
	}
}

/* services section */
.flex-container3 {
	align-content: flex;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;

	div {
		background: $white-color;
		border-radius: 10px;
		border-width: 5px;
		box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
		box-sizing: border-box;
		display: block;
		font-weight: lighter;
		height: 280px;
		margin: 2%;
		padding: 40px;
		width: 320px;
	}

	h4 {
		color: rgba(2, 8, 99, 0.822);
		font-size: 18px;
	}

	p {
		padding: 2%;
	}

	.icon-background {
		background: #ece9e9;
		border-radius: 10px;
		padding:10%;		
	}
}

/*team member flex container*/
.flex-container1 {
	align-content: flex-end;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;

	div {
		background: $white-color;
		border-radius: 10px;
		border-width: 5px;
		box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
		box-sizing: border-box;
		font-size: 20px;
		height: 400px;
		margin: 20px 0;
		text-align: center;
		width: 320px;
	}	
	p {
		color: #326489;
		
		sup{
			color: #326489;
		}

		s {
		  color: #9d9898;
		}
	}
}

.price {
	color: $blue-color;
	display: inline-block;
	font-size: xx-large;
	padding: 4px;
}

/* contact us */
.contact-icon {
	background: #baddf8;
	border-radius: 5px;
	color: $white-color;		
	font-size: 20px;
	margin: 5px 2px;
	padding: 10px 12px;
	text-align: center;
}

.icon {
	padding: 10px 15px;
}


#google-img {
	height: 160px;
	width: 99%;
}

.over-under {
	display: inline-block;
  position: relative;
	top: 1em;
}

.over {
	color: #124265;
	display: table-row;
	font-size: 900;
	font-weight: bold;
}

.under {
	color: $blue-color;
	display: table-row;
	font-size: smaller;
}

/* user input field */
form {
	input {
	  border: 1px solid #ccc;
	  height: 40px;
	  margin-bottom: 16px;
	  resize: vertical;
	  width: 45%;
	}
	
	.error-message {
		color: #ff0000;
		font-size: 12px;
	}

  #subject {
	  width: 100%;
	}
	
	#contact-message {
	  height: 150px;
	  width: 100%;
  }

  #message {
	  height: 150px;
	  width: 100%;
  }

  text {
	  border: 1px solid #ccc;
	  margin-bottom: 16px;
	  margin-top: 6px;
	  padding: 12px;
	  resize: vertical;
	  width: 45%;
  }
}

.faq-accordion {
	background: $white-color;
	border: none;
	color :rgb(116, 106, 106);
	cursor: pointer;
	font-size: 16px;
	font-weight: 700;
	outline: none;
	padding: 18px;
	text-align: left;
	transition: 0.4s;
	width: 80%;

	&:after {
		color: #1890e6;
		content: '+';
		float: right;
		font-weight: bold;
		margin-left: 5px;
	}
}

.fa-question-circle-o {
	color: #5db7f7;
}

.faq-active {
	color: #87bde4;

	&:after {
		content: "-";
	}
}

.faq-panel {
	background: $white-color;
	color: #535052;
	max-height: 0;
	max-width: 80%;
	overflow: hidden;
	padding: 0 18px;
	transition: max-height 0.2s ease-out;
}

.faq-questions {
	padding-left: 22%;
	text-align: justify;

	div {
		background: $white-color;
		margin-bottom: 1%;
		margin-right: 10%;
	}
}

/* footer column separation */
.footer-container {
	display: flex;
	flex-wrap: wrap;
	margin: 2%;
	padding-bottom: 25px;
}

.footer-items {
	display: block;
	flex: 25%;
	font-weight: lighter;
	text-align: left;

	strong {
		color: rgba(2, 8, 99, 0.822);
		font-size: 18px;
		padding: 4px;
	}

	.subscribe {
		width: 60%;
	}

	p {
		display: block;
	
		i {
			margin-right: 4%;
		}
	}
}

.footer-logo {
	font-size: 160%;
	padding-left: 2%;
}

.footer-address {
	p {
		margin-right: 33%;
		text-align: left;
	}
}

.footer-sociallogo {
	flex-wrap: nowrap;
	padding-right: 4%;
	text-align: end;
}

/* arrow sign (>) */ 
.arrow {
	align-content: center;
	border: solid $blue-color;
	border-width: 0 1px 1px 0;
	display: inline-block;
	margin: 3px;
	padding: 1px;
}

.arrow-right {
	transform: rotate(-45deg);
}

.arrow-down {
	transform: rotate(45deg);
}

.arrow-up {
	transform: rotate(225deg);
}

/* social media outer box */
.social-icon {
	background: #55acee;
	border-radius: 5px;
	color: $white-color;
	font-size: 20px;
	margin: 5px 2px;
	padding: 6px 8px;
	text-align: center;
	text-decoration: none;
}

/* top-arrow btn for go bottom to up */
#top-btn {
	background: rgb(100, 149, 237);
	border: none;
	border-radius: 4px;
	bottom: 10px;
	color: $white-color;
	cursor: pointer;
	font-size: 18px;
	outline: none;
	padding: 10px;
	position: fixed;
	right: 1%;
	z-index: 99;

	&:hover {
		background: #ff000f;
	}
}

/*table of report*/
table {
  border-collapse: collapse;
  text-align: left;
  width: 100%;
}

td,
th {
  border: 1px solid #ddd;
  padding: 10px;
}

tr:nth-child(even){
  background: #f2f2f2;
}

tr:hover {
  background: #ddd;
}

th {
  background: #868f86;
  color: #fff;
  padding-bottom: 12px;
  padding-top: 12px;
}

@media only screen and (max-width: 1080px) {

	body {
		flex-wrap: wrap;
		height: 100%;
		margin-top: 2px;
		width: 100%;
  }
  
	#background-image {
		align-self: center;
		height: 70%;
		width: 100%;
	}
}

/* for screen below or equal to 480px */
@media screen and (max-width: 480px) {

	.btn {
		padding: 4px;	
	}

	.gallery {
		margin-left: auto;
  }
	
	.port-img {
		display: none;;
	}
	
	.portfolio-img {
		flex: 100%;
		max-width: 100%;
  }
  
	.show {
		display: block;
	}

	#top-btn {
		right: 2%;
	}

	.footer-items {
		flex: 40%;
	}	
	
}

@media only screen and (max-width: 720px) {

	#get-btn {
		visibility: hidden;
	}

	label {
		visibility: hidden;
	}

	#video-play {
		height: auto;
		width: 360px;
	}

	.flex-clientlogo-container {
		flex: auto;
	}

	.flex-container1 {
		justify-content: space-around;
	}

	.quote-container {
		justify-content: space-around;
	}

	.contact-info {
		display: inline-block;
	}
}

@media only screen and (min-width:480px) and (max-width: 720px) {

	.footer-container {
		margin: auto;
	}
}

/* -----iPad view-----*/
@media only screen and (min-width: 768px) and (max-width: 1024px) {

	.navbar {
		padding-bottom: 10px;
		padding-top: 10px;

		.nav-header {
			.nav-title {
				float: left;
				font-size: 30px;
				padding-left: 5px;
			}
		}

		a {
			display: inline-block;
			font-size: 13px;
			padding: 15px 5px 5px;
		}

		.menu-bar {
			display: none;
		}

		.button {
			display: inline-block;
			font-size: 13px;
			margin-top: 6px;
		}
	}

	.dropdown-content {
		position: absolute;
	}

	.flex-container1 {
		justify-content: space-around;
	}

	.quote-container {
		justify-content: space-around;
	}
}

@media only screen and (min-width:768px) and (max-width:1024px) {

	#video-play {
		height: 420px;
		width: 360px;
	}
}

@media only screen and (min-width: 1025px) and (max-width: 1366px) {

	.navbar {
		padding-bottom: 15px;
		padding-top: 15px;

		.nav-header {
			.nav-title {
				float: left;
				font-size: 30px;
			}
		}

		a {
			display: inline-block;
			font-size: 13px;
			padding: 15px 10px 5px 12px;
		}

		.menu-bar {
			display: none;
		}

		.button {
			display: inline-block;
			font-size: 13px;
			margin-top: 6px;
			padding: 8px;
		}
	}

	.dropdown-content {
		position: absolute;
	}

	.flex-container1 {
		justify-content: space-around;
	}

	.quote-container {
		justify-content: space-around;
	}

	#video-play {
		height: auto;
		width: 420px;
	}
}

@media screen and (min-width: 1080px) and (max-width: 2024px) {

	.navbar {
		padding-bottom: 20px;
		padding-top: 15px;

		.nav-header {
			.nav-title {
				float: left;
				font-size: 30px;
			}
		}

		a {
			display: inline-block;
			font-size: 13px;
			padding: 15px 10px 5px 12px;
		}

		.menu-bar {
			display: none;
		}

		.button {
			display: inline-block;
			font-size: 13px;
			margin-top: 6px;
			padding: 8px;
		}
	}

	.dropdown-content {
		position: absolute;
	}

	.flex-container1 {
		justify-content: space-around;
	}

	.quote-container {
		justify-content: space-around;
	}

  .row {
		&:after {
			clear: both;
			content: "";
			display: table;
		}
  }
    
	.hover-shadow {
		transition: 0.3s;
  }
  
	.hover-shadow {
		&:hover {
			box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
		}
	}
}

@media only screen and (min-width: 1400px) {

	.navbar {
		padding-bottom: 30px;
		padding-left: 40px;

		.nav-header {
			.nav-title {
				float: left;
				font-size: 30px;
			}
		}

		a {
			display: inline-block;
			font-size: 13px;
			padding: 15px 12px 5px 12px;
		}

		.menu-bar {
			display: none;
		}

		.button {
			display: inline-block;
			font-size: 13px;
			margin-top: 6px;
			padding: 8px;
		}
	}

	.dropdown-content {
		position: absolute;
	}
}