@import "https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,400;0,600;1,600&display=swap";
@import "https://fonts.googleapis.com/css2?family=Vollkorn:ital@0;1&display=swap";
@import "https://fonts.googleapis.com/css2?family=Abhaya+Libre&family=Castoro&family=Vollkorn:ital@0;1&display=swap";

$black-color: #000;
$rgb245: rgb(245, 245, 245);
$blue-color: #00f;
$white-color: #fff;

body {
	background-color: $rgb245;
	font-family: 'Vollkorn', Helvetica, sans-serif;
	margin: 0 16px;
	text-align: center;
}

#background-image {
	background-image: url(../assets/hero-bg.jpg);
	height: 460px;
	margin: 0;
	padding: 0;
	top: 0;
	width: 100%;
}

.background-white {
	background-color: $white-color;
}

h2 {
	margin-top: 2%;
	padding: 20px;
}

h5 {
	color: $black-color;
	margin: 5px;
}

h6 {
	color: $black-color;
	font-weight: lighter;
	margin: 5px;
}

i {
	margin-right: 6px;
	margin-left: 8px;
}

img {
	margin-top: 0;
}

li {
	list-style: none;
}

p {
	display: block;
	font-size: 16px;
	margin-left: 4px;
	padding-left: 2px;
	i {
    display: inline;
    margin-bottom:0;
	}
}

section {
	background-color: $rgb245;
	padding: 2%;
}

* {
	box-sizing: border-box;
}

/* navbar section */
.navbar {
	background-color: $white-color;
	height: auto;
	width: auto;
	a {
		color: #556270;
		display: none;
		font-size: 10px;
		font-weight: lighter;
		padding: 2px 8px;
		text-decoration: none;
		&:hover {
			color: #0000ff;
		}
	}
	a.active {
		color: #0000ff;
	}
	.menu-bar {
		display: inline-block;
		font-size: 12px;
		padding-top: 5px;
	}
	.nav-header {
		display: inline;
		padding-right: 20px;
		.nav-title {
			color: #848b92;
			display: inline;
			font-size: 14px;
			font-weight: lighter;
			left: 0;
			margin: auto;
			padding: 5px 10px;
		}
	}
	a.button {
		background-color: #0000ff;
		border: none;
		border-radius: 2.5px;
		color: $white-color;
		cursor: pointer;
		display: none;
		float: right;
		font-size: 10px;
		font-weight: 500;
		padding: 5px;
		position: absolute;
	}
}

/* navbar dropdown */
.dropdown-content {
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
	display: none;
	min-width: 100px;
	padding-top: .5%;
	position: static;
	z-index: 1;
	a {
		color: $black-color;
		text-align: right;
		text-decoration: none;
		&:hover {
			background-color: #f1f1f1;
		}
	}
}

.dropdown {
	&:hover {
		.dropdown-content {
			display: block;
		}
	}
}

.navbar.responsive {
	position: relative;
	a.menu-bar {
		position: absolute;
		right: 0;
		top: 0;
	}
	a {
		display: block;
		right: 41%;
		text-align: center;
		top: 90%;
	}
}

/* -----iPad view-----*/
@media only screen and (min-width: 768px) and (max-width: 1024px) {
	.navbar {
		padding: 15px;
		margin: 8px;
		.nav-header {
			.nav-title {
				font-size: 30px;
				padding-left: 5px;
				padding-right: 0;
			}
		}
		a {
			display: inline-block;
			font-size: 13px;
			padding: 15px 5px 5px;
		}
		.menu-bar {
			display: none;
		}
		a.button {
			display: inline-block;
			font-size: 13px;
			margin-top: 6px;
		}
	}
	.dropdown-content {
		position: absolute;
	}
}

@media only screen and (min-width: 1025px) and (max-width: 1366px) {
	.navbar {
		padding: 15px;
		.nav-header {
			.nav-title {
				font-size: 30px;
				padding-left: 50px;
				padding-right: 0;
			}
		}
		a {
			display: inline-block;
			font-size: 13px;
			padding: 15px 10px 5px 12px;
		}
		.menu-bar {
			display: none;
		}
		a.button {
			display: inline-block;
			font-size: 13px;
			margin-top: 6px;
			padding: 8px;
		}
	}
	.dropdown-content {
		position: absolute;
	}
}

/* Laptop view */
@media only screen and (min-width: 1280px) {
	.navbar {
		padding: 20px;
		text-align: left;
		.nav-header {
			.nav-title {
				font-size: 28px;
				font-weight: 700;
				margin-left: 148px;
			}
		}
		a {
			display: inline-block;
			font-size: 15px;
			padding: 10px;
		}
		.menu-bar {
			display: none;
		}
		a.button {
			display: inline-block;
			font-size: 15px;
			margin-left: 60px;
			margin-top: 5px;
			padding: 5px;
		}
	}

	.dropdown-content {
		position: absolute;
	}
}

@media only screen and (min-width: 1400px) {
	.navbar {
		padding: 20px;
		text-align: left;
		.nav-header {
			.nav-title {
				font-size: 28px;
				font-weight: lighter;
				margin-left: 148px;
			}
		}
		a {
			display: inline-block;
			font-size: 15px;
			padding: 10px;
		}
		.menu-bar {
			display: none;
		}
		a.button {
			display: inline-block;
			font-size: 15px;
			margin-left: 275px;
			margin-top: 5px;
			padding: 10px 30px;
		}
	}
	
	.dropdown-content {
		position: absolute;
	}
}

/* action buttons */
.action-btn {
	background-color: $white-color;
	border-color: $blue-color;
	border-radius: 4px;
	border-width: 2px;
	color: $blue-color;
	padding: 10px 20px;
}

.primarybutton {
	background-color: $blue-color;
	border: 0;
	border-radius: 4px;
	color: $white-color;
	display: inline;
	font-family: 'SegoeUI SemiBold';
	font-size: 16px;
	padding: 5px;
	text-align: center;
}

button {
	&:hover {
		background-color: #55acee;
	}
}

/* start & services section */
.flex-container {
	align-content: flex-end;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
	padding: 30px;
	div {
		background-color: $white-color;
		border-radius: 10px;
		border-width: 5px;
		box-sizing: border-box;
		font-size: 20px;
		height: 240px;
		margin: 20px 0;
		padding-top: 40px;
		width: 200px;
	  &:hover {
		  background-color: rgb(0, 139, 139);
      color: $white-color;
    }
	}
}

.align-left {
	margin-left: 50px;
	padding-left: 10px;
	text-align: left;
}

/* about us 2 column separation */
.row-flex {
	display: flex;
	flex-wrap: wrap;
	padding-bottom: 30px;
}

.column-flex {
	flex: 50%;
	font-family: 'Vollkorn', Helvetica, sans-serif;
	padding: 10px;
	text-align: justify;
}

.frame {
	position: relative;
	img {
		display: block;
	}
	.fa-play-circle {
		bottom: 30%;
		position: absolute;
		left: 30%;
	}
}

#video-play {
	height: 360px;
	padding-left: 10%;
	width: 600px;
}

/* number of client,projects,awards section container */
.flex-count-container {
	background-color: #f0fff0;
	display: flex;
	flex-flow: wrap;
	font-family: 'Abhaya Libre', serif;
	font-weight: bold;
	justify-content: space-around;
}

.countnumber {
	display: block;
	font-size: xx-large;
	padding: 4px;
}

/* client logo */
.flex-clientlogo-container {
	background-color: #f0fff0;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
	img {
		filter: grayscale(100%);
		font-size: 30px;
		line-height: 50px;
		text-align: center;
		width: 100px;
	}
}

.price {
	display: inline-block;
	font-size: xx-large;
	padding: 4px;
}

/* people quote section */
.quote {
	background-color: #cdecf8;
	color: $black-color;
	font-family: 'Source Sans Pro', sans-serif;
	margin: 0;
	margin-bottom: 3%;
}

.background-cyan {
	background-color: #008b8b;
	color: $white-color;
	font-family: 'Vollkorn', Helvetica, sans-serif;
	padding: .8%;
}

/* portfolio scss */
.content-button {
	background-color: $white-color;
	border: none;
	color: $black-color;
	&:hover {
		background-color: $white-color;
		color: #0000ff;
	}
}

/* portpolio image grid */
.gallery {
	display: flex;
	flex-wrap: wrap;
	margin-left: 100px;
	margin-right: auto;
}

.modal {
	display: none;
	height: auto;
	left: 0;
	overflow: auto;
	padding-top: 0;
	position: fixed;
	top: 0;
	width: auto;
	z-index: 1;
}

.portfolio-img {
	display: none;
	flex: 25%;
	max-width: 25%;
	padding: 1%;
	img {
		margin-top: 8px;
		vertical-align: middle;
		width: 100%;
	}
}

/* The "show" class is added to the filtered images */
.show {
	display: block;
}

 /* The Close Button */
.close {
	color: rgb(247, 12, 12);
	font-size: 35px;
	font-weight: bold;
	position: relative;
	right: 25px;
	top: 10px;
	&:focus {
		color: #999;
		cursor: pointer;
		text-decoration: none;
	}
	&:hover {
		color: #999;
		cursor: pointer;
		text-decoration: none;
	}
}

/* for screen below or equal to 480px */
@media screen and (max-width: 480px) {
	.gallery {
		margin-left: auto;
  }
  
	.portfolio-img {
		display: none;
		flex: 100%;
		max-width: 100%;
  }
  
	.show {
		display: block;
  }
}

@media screen and (min-width: 1080px) and (max-width: 2024px) {
  .row {
		&:after {
			clear: both;
			content: "";
			display: table;
		}
  }
  
  /* The Modal (background) */
	.modal {
		background-color: $black-color;
		display: none;
		height: auto;
		overflow: auto;
		position: fixed;
		top: 0;
		width: 100%;
		z-index: 1;
  }
  
  /* Modal Content */
	.modal-content {
		background-color: #fefefe;
		padding: 0;
		position: initial;
		max-height: 50%;
		max-width: 50%;
  }

  /* Hide the slides by default */
	.mySlides {
		display: none;
  }
  
  /* Next & previous buttons */
	.next {
		background-color: #add;
		border-radius: 0 3px 3px 0;
		color: #000ff0;
		cursor: pointer;
		font-size: 20px;
		font-weight: bold;
		margin-top: -50px;
		padding: 16px;
		position: absolute;
		top: 50%;
		transition: 0.6s ease;
		width: auto;
		user-select: none;
		border-radius: 3px 0 0 3px;
		right: 0;
		&:hover {
			background-color: rgba(0, 0, 0, 0.8);
		}
  }
  
	.prev {
		background-color: #add;
		border-radius: 0 3px 3px 0;
		color: #000ff0;
		cursor: pointer;
		font-size: 20px;
		font-weight: bold;
		margin-top: -50px;
		padding: 16px;
		position: absolute;
		top: 50%;
		transition: 0.6s ease;
		width: auto;
		user-select: none;
		border-radius: 3px 0 0 3px;
		left: 0;
		&:hover {
			background-color: rgba(0, 0, 0, 0.8);
		}
  }
  
  /* Number text (1/9 etc) */
	.numbertext {
		color: #f2f2f2;
		font-size: 18px;
		padding: 8px 12px;
		position: absolute;
		top: 0;
  }

  /* Caption text */
	.caption-container {
		background-color: $black-color;
		color: $white-color;
		padding: 2px 16px;
		text-align: center;
  }
  
	img.demo {
		opacity: 0.6;
  }
  
	.active {
		opacity: 1;
  }
  
	.demo {
		&:hover {
			opacity: 1;
		}
  }
  
	img.hover-shadow {
		transition: 0.3s;
  }
  
	.hover-shadow {
		&:hover {
			box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
		}
	}
}

/* for team section */
.teams-image {
	img {
		max-width: 100%;
		padding: 0;
	}
}

/* pricing-section */
.pricing {
	background-color: #f8fdffa8;
	font-family: 'Abhaya Libre', serif;
	padding-top: 2%;
	h5 {
		padding-top: 5%;
	}
}

/* services */
.services {
	background-color: #f8fdffa8;
	font-family: 'Abhaya Libre', serif;
	padding-top: 2%;
}

/* background */
.footer {
	background-color: #f8fdffa8;
	font-family: 'Abhaya Libre', serif;
	padding-top: 2%;
}

.flex-container1 {
	align-content: flex-end;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	padding: 20px 30px;
	div {
		background-color: $white-color;
		border-radius: 10px;
		border-width: 5px;
		box-sizing: border-box;
		color: rgb(143, 188, 143);
		font-size: 20px;
		height: 400px;
		margin: 20px 0;
		text-align: center;
		width: 320px;
	  &:hover {
		background-color: rgb(0, 139, 139);
		color: $white-color;
    }
  }
}

/* testimonial carousal */

.carousel {
	margin: 30px;
	position: relative;
}

.carousel-open {
	&:checked {
		+ {
			.carousel-item {
				opacity: 1;
				position: static;
			}
		}
	}
}

.carousel-item {
	opacity: 0;
	position: absolute;
	transition: opacity 0.6s ease-out;
}

/* for avatar */
.avatar {
	border-radius: 50%;
	width: 180px;
}

.carousel-control {
	background: rgba(0, 0, 0, 0.28);
	border-radius: 50%;
	color: $black-color;
	cursor: pointer;
	display: none;
	font-size: 40px;
	height: 40px;
	line-height: 35px;
	position: absolute;
	text-align: center;
	top: 50%;
	transform: translate(0, -50%);
	width: 40px;
	z-index: 10;
}

.carousel-next {
	right: 3%;
}

.carousel-prev {
	left: 3%;
}

#carousel-1 {
	&:checked {
		~ {
			.control-1 {
				display: inline-block;
			}
		}
	}
}

#carousel-2 {
	&:checked {
		~ {
			.control-2 {
				display: block;
			}
		}
	}
}

/* contact us */
.contact {
	margin: 10% 16%;
}

.contact-info {
	color: $blue-color;
	display: block;
	font-size: 14px;
	padding: 2px 30px;
}

#google-img {
	height: 160px;
	width: 100%;
}

/* user input field */
input {
	border: 1px solid #ccc;
	margin-bottom: 16px;
	margin-top: 6px;
	padding: 12px;
	resize: vertical;
	width: 45%;
}

#subject {
  width: 100%;
}

#message {
  height: 150px;
  width: 90%; 
}

text {
	border: 1px solid #ccc;
	margin-bottom: 16px;
	margin-top: 6px;
	padding: 12px;
	resize: vertical;
	width: 45%;
}

.faq-accordion {
	background-color: $white-color;
	border: none;
	color: #444;
	cursor: pointer;
	font-size: 15px;
	outline: none;
	padding: 18px;
	text-align: left;
	transition: 0.4s;
	width: 80%;
	&:after {
		color: $blue-color;
		content: '+';
		float: right;
		font-weight: bold;
		margin-left: 5px;
	}
}

.faq-active {
	&:after {
		content: "-";
	}
}

.faq-panel {
	background-color: $white-color;
	max-height: 0;
	max-width: 80%;
	overflow: hidden;
	padding: 0 18px;
	transition: max-height 0.2s ease-out;
}

.faq-questions {
	padding-left: 22%;
	text-align: justify;
	div {
		background-color: $white-color;
		margin-bottom: 1%;
		margin-right: 10%;
	}
}

/* footer column separation */
.footer-container {
	background-color: rgba(248, 253, 255, 0.658);
	display: flex;
	flex-wrap: wrap;
	margin: 2% 8%;
	padding-bottom: 30px;
}

.footer-items {
	display: block;
	flex: 25%;
	font-family: 'Abhaya Libre', serif;
	font-weight: lighter;
	padding: 5px;
	text-align: justify;
	li {
		display: inline-flexbox;
		padding-bottom: 10%;
	}
}

.footer-logo {
	font-size: 160%;
	padding-left: 2%;
}

.footer-address {
	p {
		margin-right: 33%;
		text-align: left;
	}
}

.footer-sociallogo {
	flex-wrap: nowrap;
	text-align: end;
}

/* arrow sign (>) */ 
.arrow {
	align-content: center;
	border: solid rgb(0, 0, 255);
	border-width: 0 1px 1px 0;
	display: inline-block;
	margin: 3px;
	padding: 1px;
}

.arrow-right {
	transform: rotate(-45deg);
}

.arrow-down {
	transform: rotate(45deg);
}

.arrow-up {
	transform: rotate(225deg);
}

/* social media outer box */
.social-icon {
	background: #55acee;
	border-radius: 5px;
	color: $white-color;
	font-size: 20px;
	margin: 5px 2px;
	padding: 4px 8px;
	text-align: center;
	text-decoration: none;
}

/* top-arrow btn for go bottom to up */
#top-btn {
	background-color: rgb(100, 149, 237);
	border: none;
	border-radius: 4px;
	bottom: 10px;
	color: $white-color;
	cursor: pointer;
	font-size: 18px;
	outline: none;
	padding: 10px;
	position: fixed;
	right: 4%;
	z-index: 99;
	&:hover {
		background-color: #ff000f;
	}
}

@media only screen and (max-width: 1080px) {
	body {
		flex-wrap: wrap;
		height: 100%;
		margin-top: 2px;
		padding: 4px;
		width: 100%;
  }
  
	#background-image {
		align-self: center;
		height: 70%;
		width: 100%;
	}
}

@media screen and (max-width: 720px) {
	#video-play {
		height: 240px;
		margin: 0;
		padding: 0;
		width: 360px;
	}
}

@media screen and (max-width: 620px) {
	.flex-clientlogo-container {
		flex: auto;
	}
}

@media only screen and (max-width: 720px) {
	label {
		visibility: hidden;
	}
}

@media only screen and (min-width:480px) and (max-width: 720px) {
	.contact {
		margin: auto;
  }
  
	.footer-container {
		font-family: 'Vollkorn', serif;
		margin: auto;
	}
}